.footer-component {
    background: linear-gradient(to top, #6181a2 , var(--dark-color));
    padding: 20px 10px;
}

.footer-component-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}