:root {
    --primary-color: #96E6B3;
    --secondary-color: #CCFCCB;
    --background-color: #F1FFFA;
    --text-color: #568259;
    --dark-color: #3f433f;
    --warning-color: #f39c12;
    --border-radius: 5px;
}

body {
    font: 16px Arial, sans-serif;
    background: var(--background-color);
    color: #91d7be;
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

main {
    padding: 20px 0;
}

.container {
    max-width: 1400px;
    margin: 0 10px;
}

section {
    margin-bottom: 40px;
}
